<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ManTrap</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ManTrap.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="Navigation-Bar">

        <div class="Main-Label">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-page="Index"><label>ManTrap</label></a>
            }
            else
            {
                <a><label>ManTrap</label></a>
            }
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            @await Component.InvokeAsync("UserButton")
        }
        else
        {
            <div class="Buttons">
                <a asp-page="Authorization"><button>Вход</button></a>
                <a asp-page="Authorization"><button>Регистрация</button></a>
            </div>
        }

    </div>

    <div class="Body-Content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>